<ion-content class="ion-padding">
  <div class="reset-password-container animated fadeIn">
    <div class="logo-container">
      <div class="logo-frame">
        <img src="/assets/img/logo.png" alt="Logo" class="logo">
      </div>
    </div>
    <h1 class="reset-password-title animated fadeInDown">Recuperar Contraseña</h1>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="!codeSent">
      <ion-item lines="none" class="custom-input animated fadeInUp">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="error-message animated shake">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</small>
        <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Ingrese un correo electrónico válido.</small>
      </div>

      <ion-button expand="block" class="reset-password-button animated pulse" type="submit" [disabled]="resetPasswordForm.invalid">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Enviar Código
      </ion-button>
    </form>

    <div *ngIf="codeSent" class="confirmation-message animated fadeInUp">
      <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
      <h2>Código Enviado</h2>
      <p>Se ha enviado un código de verificación a tu correo electrónico. Por favor, revisa tu bandeja de entrada.</p>
    </div>

    <ion-button expand="block" class="back-button animated bounceIn" (click)="goBackToLogin()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Regresar al Login
    </ion-button>
  </div>
</ion-content>
